<section style="padding: 1rem;">
    <a [routerLink]="['/dashboard/language/' , lang]">Retour </a>

    <h2>Ajouter contenu pour: {{ lang.charAt(0).toUpperCase() + lang.slice(1) }}</h2>

    <div class="wrapper-form">

        <select [(ngModel)]="choiceOfcontent" >
            <option value="--">--</option>
            <option value="nav">Navigation</option>
            <option value="content">Contenu </option>
        </select>

        <ng-container *ngIf="choiceOfcontent === 'nav'" >
            <form [formGroup]="addcontentForNav" (ngSubmit)="onSubmit(choiceOfcontent)" >
                <label for="title">Titre: </label>
                <input id="title" type="text" formControlName="title">

                <label for="content">Contenu: </label>                    
                <textarea formControlName="content" id="content" cols="30" rows="10"></textarea>

                <button type="submit" [disabled]="!addcontentForNav.valid">Ajouter</button>
            </form>
        </ng-container>

        <ng-container *ngIf="choiceOfcontent === 'content'" >
            <form [formGroup]="addcontentForNContent" (ngSubmit)="onSubmit(choiceOfcontent)" >

                <label for="linkToNav">LinkToNav : </label>
                <input id="linkToNav" type="text" formControlName="linkToNav">

                <label for="content">Contenus: </label>
                <textarea formControlName="content" id="content" cols="30" rows="10"></textarea>

                <button type="submit" [disabled]="!addcontentForNContent.valid">Ajouter</button>
            </form>

        </ng-container>
        
    </div>

    <div>
        ( Partie Json visualizer TO DO )
    </div>
      

</section>