<section>

    <div class="title-header">
        <h2>{{ title.charAt(0).toUpperCase() + title.slice(1) }}</h2>
        
        <div class="links">
            <a routerLink="/dashboard">Retour au dashboard</a>
            <a [routerLink]="['/dashboard/content' , title]">Ajouter du contenu pour {{ title }}</a>
        </div>

    </div>

  
    <div class="content">
        <div class="nav">
            <app-nav (anchorToGo)="goToAnchor($event)"></app-nav>
        </div>
        <div class="content-body">
            <h1 id="test">Content here..</h1>
        </div>
    </div>

    <!-- <div class="error">
        <h2>File not found</h2>
    </div> -->

</section>