ul {
    li {
        list-style: none;
        margin-bottom: 10px;
        a {
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
        }

        a:hover {
            
            cursor: pointer;
            font-weight: bold;
        }
    }
}